<div class="wrapper-form">
  <form [formGroup]="formUser" *ngIf="user" (ngSubmit)="onSaveHandler()">
    <div class="mb-3 d-flex justify-content-between align-items-center">
      <label class="form-label text-uppercase fw-bold" for="name">Name:</label>
      <input  class="form-control" type="text" id="name" formControlName="name" />
    </div>

    <div class="mb-3 d-flex justify-content-between align-items-center">
      <label class="form-label text-uppercase fw-bold" for="lastname">Lastname:</label>
      <input  class="form-control" type="text" id="lastname" formControlName="lastname" />
    </div>

    <div class="mb-3 d-flex justify-content-between align-items-center">
      <label class="form-label text-uppercase fw-bold" for="age">Age:</label>
      <input  class="form-control" type="number" id="age" formControlName="age" />
    </div>

    <div class="mb-3 d-flex justify-content-between align-items-center">
      <label class="form-label text-uppercase fw-bold" for="country">Country:</label>
      <input  class="form-control" type="text" id="country" formControlName="country" />
    </div>

    <div class="mb-3 d-flex justify-content-between align-items-center">
      <label class="form-label text-uppercase fw-bold" for="province">Province:</label>
      <input  class="form-control" type="text" id="province" formControlName="province" />
    </div>

    <div class="mb-3 d-flex justify-content-between align-items-center">
      <label class="form-label text-uppercase fw-bold" for="email">Email:</label>
      <div>
        <input  class="form-control" type="email" id="email" [class.is-invalid]="formUser.controls.email.invalid&& (formUser.controls.email['dirty'] || formUser.controls.email['touched'] )" formControlName="email" />
        <div class="invalid-feedback text-center" *ngIf="formUser.controls.email.invalid && (formUser.controls.email['dirty'] || formUser.controls.email['touched'])">
          <span *ngIf="formUser.controls.email.errors?.['required']">email required.</span>
          <span *ngIf="formUser.controls.email.errors?.['email']">invalid email.</span>
        </div>
      </div>
    </div>

    <div class="mb-3 d-flex justify-content-between align-items-center">
      <label class="form-label text-uppercase text-nowrap fw-bold" for="fiscalcode">Fiscal Code:</label>
      <input  class="form-control" type="text" id="fiscalcode" formControlName="fiscalcode" />
    </div>

    <div class="mb-3 d-flex justify-content-between align-items-center">
      <label class="form-label text-uppercase fw-bold" for="phone">Phone:</label>
      <input  class="form-control" type="tel" id="phone" formControlName="phone" />
    </div>

    <div class="mb-3 d-flex justify-content-between align-items-center">
      <label class="form-label text-uppercase fw-bold" for="login">Login:</label>
      <div>
        <input  class="form-control" type="text" id="login" formControlName="login" [class.is-invalid]="formUser.controls.login.invalid&& (formUser.controls.login['dirty'] || formUser.controls.login['touched'] )" />
        <div class="invalid-feedback text-center" *ngIf="formUser.controls.login.invalid && (formUser.controls.login['dirty'] || formUser.controls.login['touched'])">
          <span *ngIf="formUser.controls.login.errors?.['required']">login required.</span>
          <span *ngIf="formUser.controls.login.errors?.['pattern']">invalid login.</span>
          <span *ngIf="formUser.controls.login.errors?.['minlength']">login must be at least of 5 chars </span>
        </div>
      </div>
    </div>

    <div class="d-flex justify-content-center gap-2 mt-2">
      <button type="submit" [disabled]="formUser.invalid" class="btn btn-success">SAVE</button>
      <button class="btn btn-danger" (click)="onCloseHandler()">CANCEL</button>
    </div>
  </form>
</div>
