<div class="wrapper-form">
  <form [formGroup]="formUser" *ngIf="user" (ngSubmit)="onSaveHandler()">
    <div class="mb-3">
      <label class="form-label text-uppercase fw-bold" for="name">Name:</label>
      <input type="text" id="name" formControlName="name" />
    </div>

    <div class="mb-3">
      <label class="form-label text-uppercase fw-bold" for="lastname">Lastname:</label>
      <input type="text" id="lastname" formControlName="lastname" />
    </div>

    <div class="mb-3">
      <label class="form-label text-uppercase fw-bold" for="age">Age:</label>
      <input type="number" id="age" formControlName="age" />
    </div>

    <div class="mb-3">
      <label class="form-label text-uppercase fw-bold" for="country">Country:</label>
      <input type="text" id="country" formControlName="country" />
    </div>

    <div class="mb-3">
      <label class="form-label text-uppercase fw-bold" for="province">Province:</label>
      <input type="text" id="province" formControlName="province" />
    </div>

    <div class="mb-3">
      <label class="form-label text-uppercase fw-bold" for="email">Email:</label>
      <input type="email" id="email" formControlName="email" />
      <div class="invalid-feedback" *ngIf="formUser.controls['email'].errors?.['email']">Email is required.</div>
      <div class="invalid-feedback" *ngIf="formUser.controls['email'].errors?.['required']">Invalid email.</div>
    </div>

    <div class="mb-3">
      <label class="form-label text-uppercase fw-bold" for="fiscalcode">Fiscal Code:</label>
      <input type="text" id="fiscalcode" formControlName="fiscalcode" />
    </div>

    <div class="mb-3">
      <label class="form-label text-uppercase fw-bold" for="phone">Phone:</label>
      <input type="tel" id="phone" formControlName="phone" />
    </div>

    <div class="mb-3">
      <label class="form-label text-uppercase fw-bold" for="login">Login:</label>
      <input type="text" id="login" formControlName="login" />
      <div class="invalid-feedback" *ngIf="formUser.controls['login'].errors?.['required']">Login is required.</div>
      <div class="invalid-feedback" *ngIf="formUser.controls['login'].errors?.['minlength']">
        Login must be at least 5 characters long.
      </div>
      <div class="invalid-feedback" *ngIf="formUser.controls['login'].errors?.['pattern']&& formUser.controls['login']?.touched">Invalid login.</div>
    </div>

    <div class="mb-3">
      <label class="form-label text-uppercase fw-bold" for="age">Id:</label>
      <input type="number" id="id" formControlName="id" />
      <div class="invalid-feedback" *ngIf="formUser.controls['id'].errors?.['required'] && formUser.controls['id']?.touched">Age is required.</div>
    </div>

    <div class="d-flex justify-content-center gap-2 mt-2">
      <button type="submit" [disabled]="formUser.invalid" class="btn btn-success">SAVE</button>
      <button class="btn btn-danger" (click)="onCloseHandler()">CANCEL</button>
    </div>
  </form>
</div>
