<div class="dropdown my-5">
    <button class="btn btn-secondary dropdown-toggle" [disabled]="loading" type="button" data-bs-toggle="dropdown" aria-expanded="false">
      Dropdown button
    </button>
    <ul class="dropdown-menu">
      <li><a class="dropdown-item" *ngFor="let user of users">{{user.name}}</a></li>
    </ul>
  </div>


  <div class="dropdown">
    <button class="btn btn-secondary dropdown-toggle" [disabled]="loading" type="button" data-bs-toggle="dropdown" aria-expanded="false">
      Dropdown button
    </button>
    <ul class="dropdown-menu">
      <li><a class="dropdown-item">{{userById.name}}</a></li>
    </ul>
  </div>
